#game {
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#game-field-container {
	border-style: dotted;
	border-color: black;
	border-width: 1px;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

#game-store {
	display: none;
}


#game .row {
	white-space: nowrap
}

#game .tile {
	display: inline-block;
}

#game .arrow {
	font-size: 2em;
}

#game .selector.selected {
	color: blue;
	font-weight: bold;
}


#game .selector.chosen {
	color: green !important;
	font-weight: bold;
}

#game .skill {
	line-height: 0.4;
	border-style: dotted;
	border-color: black;
	border-width: 1px;
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
}

#game .skill .indicator {
	position: absolute;
	top:-13px;
}

#game .skill.selected {
	border-width: 2px;
}

#game-field {
	position: absolute;
}

#game-stick {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 0;
}

#game-stick .health.on {
	color: black;
}

#game-stick .health.off {
	color: lightgray;
}

#stick-container {
	position: absolute;
}

#message {
	text-align: center;
	width: 10em;
	z-index: 2;
	border-radius: 5px;
}

#location {
	display: none;
}