#game {
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
	position: relative;
}

#game-field {
	border-style: dotted;
	border-color: black;
	border-width: 1px;
}

#game .tile {
	display: inline-block;
}

#game .arrow {
	font-size: 2em;
}

#stick-container {
	position: absolute;
}

#message {
	text-align: center;
	width: 10em;
}