#game-over {
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}

#game-wrapper {
	font-family: "Courier New", Courier, monospace;
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
#game-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#help {
	display: none;
	position: absolute;
	top:100%;
	left: -50%;
	width: 200%;
	text-align: center;
}

#game {
	display: none;
}

#start {
    text-align: center;
}

#start .selected {
	font-weight: bold;
}

#game-field-container {
	border-style: dotted;
	border-color: black;
	border-width: 1px;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

#game-store {
	display: none;
}


#game .row {
	white-space: nowrap
}

#game .tile {
	display: inline-block;
}

#game .arrow {
	font-size: 2em;
}

#game .selector.selected {
	font-weight: bold;
}


#game .selector.chosen {
	text-shadow: 2px 2px lightgray;
}

#game .skill {
	line-height: 0.4;
	border-style: dotted;
	border-color: black;
	border-width: 1px;
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
}

#game .skill .indicator {
	position: absolute;
	top:-13px;
}

#game .skill.selected {
	border-width: 2px;
}

#game-field {
	position: absolute;
}

#game-stick {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 0;
}

#game-stick .health.on {
	color: black;
}

#game-stick .health.off {
	color: rgb(200,200,200);
}

#stick-container {
	position: absolute;
}

#message {
	text-align: center;
	width: 10em;
	z-index: 2;
	border-radius: 5px;
}

#location {
	display: none;
}

#end-score {
	text-align: center;
	font-size: 2em;
	margin-top: 2em;	
}

#return-to-menu {
	text-align: center;
	font-size: 1.5em;	
}