#game {
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#game-field {
	border-style: dotted;
	border-color: black;
	border-width: 1px;
	display: inline-block;
}

#game-store {
	display: none;
}


#game .row {
	position: static;
}

#game .tile {
	display: inline-block;
}

#game .arrow {
	font-size: 2em;
}

#game .selector.selected {
	color: blue;
	font-weight: bold;
}


#game .selector.chosen {
	color: green !important;
	font-weight: bold;
}


#stick-container {
	position: absolute;
}

#message {
	text-align: center;
	width: 10em;
}